Node-red/flows.json
[
    {
        "id": "ddb924e7d69583cb",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c620f04f4f125df8",
        "type": "tab",
        "label": "Dasboard2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4255977345aa65f0",
        "type": "tab",
        "label": "Dasboard3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dfeaffab6a29527c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "cd2245ab2315420a954e02e0a9d07eeb.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c28f28b1c92533d2",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "40e1d47d49575de4",
        "type": "ui_tab",
        "name": "Sensores",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "89c7e719d2d874df",
        "type": "ui_group",
        "name": "Humedad",
        "tab": "40e1d47d49575de4",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "87f66cbf700ab76d",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "40e1d47d49575de4",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5cd90935c3271fd7",
        "type": "ui_group",
        "name": "Vibracion",
        "tab": "40e1d47d49575de4",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a9118ba1498f8422",
        "type": "mongodb4-client",
        "name": "",
        "protocol": "mongodb",
        "hostname": "",
        "port": "",
        "dbName": "PG2",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "mongodb://localhost:27017/PG2",
        "advanced": "{}",
        "uriTabActive": "tab-uri-advanced"
    },
    {
        "id": "c42ff2e7dd93d807",
        "type": "mongodb3",
        "uri": "mongodb://127.0.0.1:27017",
        "name": "test",
        "options": "",
        "parallelism": -1
    },
    {
        "id": "4e5ddade315f8e5f",
        "type": "mongodb4-client",
        "name": "Mongo_TEST",
        "protocol": "mongodb",
        "hostname": "",
        "port": "",
        "dbName": "test",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "mongodb://127.0.0.1:27017",
        "advanced": "{}",
        "uriTabActive": "tab-uri-advanced"
    },
    {
        "id": "9d38b8b8b2e0f3ac",
        "type": "mongodb3",
        "uri": "mongodb://127.0.0.1:27017",
        "name": "PG2",
        "options": "",
        "parallelism": -1
    },
    {
        "id": "ffb0a0f2047cfd58",
        "type": "mongodb3",
        "uri": "mongodb://127.0.0.1:27017",
        "name": "PG2",
        "options": "",
        "parallelism": -1
    },
    {
        "id": "9c750378934c0b46",
        "type": "mqtt-broker",
        "name": "",
        "broker": "cd2245ab2315420a954e02e0a9d07eeb.s1.eu.hivemq.cloud",
        "port": "8883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "41de3b7fd5057971",
        "type": "mongodb4-client",
        "name": "",
        "protocol": "mongodb",
        "hostname": "127.0.0.1",
        "port": "207017",
        "dbName": "login",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "",
        "advanced": "{}",
        "uriTabActive": "tab-uri-simple"
    },
    {
        "id": "60a273b51888daa9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "cd2245ab2315420a954e02e0a9d07eeb.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2a7f35ac05c1b0f9",
        "type": "mongodb4-client",
        "name": "",
        "protocol": "mongodb",
        "hostname": "127.0.0.1",
        "port": "27017",
        "dbName": "APIPG",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "",
        "advanced": "{}",
        "uriTabActive": "tab-uri-simple"
    },
    {
        "id": "208d45ec3a4d5b74",
        "type": "mqtt-broker",
        "name": "Temperatura",
        "broker": "cd2245ab2315420a954e02e0a9d07eeb.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1de35af50e2618fc",
        "type": "mongodb4-client",
        "name": "",
        "protocol": "mongodb",
        "hostname": "127.0.0.1",
        "port": "27017",
        "dbName": "login",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "",
        "advanced": "{}",
        "uriTabActive": "tab-uri-simple"
    },
    {
        "id": "e3b46a192d163a34",
        "type": "ui_group",
        "name": "Voltaje",
        "tab": "40e1d47d49575de4",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "05737aa76b1feab8",
        "type": "ui_tab",
        "name": "Servidor",
        "icon": "dashboard",
        "order": 2,
        "disabled": true,
        "hidden": false
    },
    {
        "id": "cce750f955a6f5c4",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "40e1d47d49575de4",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cd47f44de84d02e8",
        "type": "ui_group",
        "name": "Humedad2",
        "tab": "05737aa76b1feab8",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "efd90405a8f0fc80",
        "type": "ui_group",
        "name": "Temperatura2",
        "tab": "05737aa76b1feab8",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "24514f231500dfe4",
        "type": "ui_group",
        "name": "Vibracion2",
        "tab": "05737aa76b1feab8",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ff8d176eb6b426f1",
        "type": "ui_group",
        "name": "Voltaje2",
        "tab": "05737aa76b1feab8",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a49f3c336735c282",
        "type": "ui_link",
        "name": "Link 3",
        "icon": "open_in_browser",
        "target": "newtab",
        "order": 3
    },
    {
        "id": "f2a21ec77c6017ec",
        "type": "ui_tab",
        "name": "Torre2",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fd4283b4c5d122f7",
        "type": "ui_group",
        "name": "HumedadT2",
        "tab": "f2a21ec77c6017ec",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "490593e94731b454",
        "type": "ui_spacer",
        "z": "4255977345aa65f0",
        "name": "spacer",
        "group": "fd4283b4c5d122f7",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "ae6fcfb5d15b6094",
        "type": "ui_group",
        "name": "TemperaturaT2",
        "tab": "f2a21ec77c6017ec",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "fea4ac8883015485",
        "type": "ui_group",
        "name": "VibracionT2",
        "tab": "f2a21ec77c6017ec",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "fe2f0480f280f176",
        "type": "ui_group",
        "name": "VoltajeT2",
        "tab": "f2a21ec77c6017ec",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f0c87542c3e4241e",
        "type": "ui_gauge",
        "z": "ddb924e7d69583cb",
        "name": "",
        "group": "87f66cbf700ab76d",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Temperatura",
        "label": "°c",
        "format": "{{value}}",
        "min": "25",
        "max": "50",
        "colors": [
            "#0954ec",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 410,
        "y": 480,
        "wires": []
    },
    {
        "id": "673810e324c4fe15",
        "type": "mqtt in",
        "z": "ddb924e7d69583cb",
        "name": "Topic de Humedad",
        "topic": "home/humedad",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dfeaffab6a29527c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 220,
        "wires": [
            [
                "b8528b451ada8c63",
                "7f6bcff0c386585c"
            ]
        ]
    },
    {
        "id": "b8528b451ada8c63",
        "type": "ui_gauge",
        "z": "ddb924e7d69583cb",
        "name": "",
        "group": "89c7e719d2d874df",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": "40",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 460,
        "y": 80,
        "wires": []
    },
    {
        "id": "e9169dfad53b0e61",
        "type": "mqtt in",
        "z": "ddb924e7d69583cb",
        "name": "Topic de vibracion",
        "topic": "home/vibracion",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dfeaffab6a29527c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 620,
        "wires": [
            [
                "34915e228d48f169",
                "ad7d88b6663f668e"
            ]
        ]
    },
    {
        "id": "34915e228d48f169",
        "type": "ui_chart",
        "z": "ddb924e7d69583cb",
        "name": "",
        "group": "5cd90935c3271fd7",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Vibracion ",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "5",
        "ymax": "0",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#1a9e34",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 500,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "7f6bcff0c386585c",
        "type": "function",
        "z": "ddb924e7d69583cb",
        "name": "function 1",
        "func": "let valorMedicion = parseFloat(msg.payload);\nlet horaActual = new Date();\n\nmsg.payload = {\n    tipo: \"humedad\",\n    valor: isNaN(valorMedicion) ? null : valorMedicion,\n    source: \"ESP32\",\n    timestamp: horaActual\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 220,
        "wires": [
            [
                "0897db63bd6c83ef"
            ]
        ]
    },
    {
        "id": "81ae9dda4d2bf8e3",
        "type": "mqtt in",
        "z": "ddb924e7d69583cb",
        "name": "",
        "topic": "home/temperatura",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "208d45ec3a4d5b74",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 400,
        "wires": [
            [
                "f0c87542c3e4241e",
                "9e923e31050f336c"
            ]
        ]
    },
    {
        "id": "9e923e31050f336c",
        "type": "function",
        "z": "ddb924e7d69583cb",
        "name": "function 2",
        "func": "let valorMedicion = parseFloat(msg.payload);\nlet horaActual = new Date();\n\nmsg.payload = {\n    tipo: \"temperatura\",\n    valor: isNaN(valorMedicion) ? null : valorMedicion,\n    source: \"ESP32\",\n    timestamp: horaActual\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 380,
        "wires": [
            [
                "0897db63bd6c83ef"
            ]
        ]
    },
    {
        "id": "ad7d88b6663f668e",
        "type": "function",
        "z": "ddb924e7d69583cb",
        "name": "function 3",
        "func": "let valorMedicion = parseInt(msg.payload);\nlet horaActual = new Date();\n\nmsg.payload = {\n    tipo: \"vibracion\",\n    valor: valorMedicion === 1 ? \"Detectada\" : \"Sin vibracion\",\n    raw_value: valorMedicion,\n    source: \"ESP32\",\n    timestamp: horaActual\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 560,
        "wires": [
            [
                "0897db63bd6c83ef"
            ]
        ]
    },
    {
        "id": "0897db63bd6c83ef",
        "type": "mongodb4",
        "z": "ddb924e7d69583cb",
        "clientNode": "1de35af50e2618fc",
        "mode": "collection",
        "collection": "Mediciones 1",
        "operation": "insertOne",
        "output": "forEach",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "Mediciones",
        "x": 690,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "baa945a3ed0161f8",
        "type": "mqtt in",
        "z": "ddb924e7d69583cb",
        "name": "",
        "topic": "home/voltaje_rms",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "60a273b51888daa9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 740,
        "wires": [
            [
                "acac89126d328b53"
            ]
        ]
    },
    {
        "id": "acac89126d328b53",
        "type": "ui_chart",
        "z": "ddb924e7d69583cb",
        "name": "",
        "group": "e3b46a192d163a34",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Voltaje",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 430,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "833fa3699a98cd3f",
        "type": "mqtt in",
        "z": "c620f04f4f125df8",
        "name": "Topic de Humedad",
        "topic": "home/humedad2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dfeaffab6a29527c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 100,
        "wires": [
            [
                "ebc00605dcb61ec2"
            ]
        ]
    },
    {
        "id": "ebc00605dcb61ec2",
        "type": "ui_gauge",
        "z": "c620f04f4f125df8",
        "name": "",
        "group": "cd47f44de84d02e8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": "40",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 440,
        "y": 100,
        "wires": []
    },
    {
        "id": "0a677b18e9fc1d79",
        "type": "mqtt in",
        "z": "c620f04f4f125df8",
        "name": "",
        "topic": "home/temperatura2",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "208d45ec3a4d5b74",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 220,
        "wires": [
            [
                "75c42c5fcc5d2809"
            ]
        ]
    },
    {
        "id": "75c42c5fcc5d2809",
        "type": "ui_gauge",
        "z": "c620f04f4f125df8",
        "name": "",
        "group": "efd90405a8f0fc80",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Temperatura",
        "label": "°c",
        "format": "{{value}}",
        "min": "25",
        "max": "50",
        "colors": [
            "#0954ec",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 430,
        "y": 220,
        "wires": []
    },
    {
        "id": "81d72c350dbd5e7e",
        "type": "mqtt in",
        "z": "c620f04f4f125df8",
        "name": "Topic de vibracion",
        "topic": "home/vibracion2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dfeaffab6a29527c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 320,
        "wires": [
            [
                "2adb90e29fab4539"
            ]
        ]
    },
    {
        "id": "ae5257b182f4fe81",
        "type": "mqtt in",
        "z": "c620f04f4f125df8",
        "name": "",
        "topic": "home/voltaje_rms2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "60a273b51888daa9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 420,
        "wires": [
            [
                "1ffc54c04e501913"
            ]
        ]
    },
    {
        "id": "2adb90e29fab4539",
        "type": "ui_chart",
        "z": "c620f04f4f125df8",
        "name": "",
        "group": "24514f231500dfe4",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Vibracion ",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "5",
        "ymax": "0",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#1a9e34",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 460,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "1ffc54c04e501913",
        "type": "ui_chart",
        "z": "c620f04f4f125df8",
        "name": "",
        "group": "ff8d176eb6b426f1",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Voltaje",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 430,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "4d5a62f77b31ad74",
        "type": "mqtt in",
        "z": "4255977345aa65f0",
        "name": "Topic de Humedad",
        "topic": "home/humedadT2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dfeaffab6a29527c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 100,
        "wires": [
            [
                "e3e35c79f8d62408"
            ]
        ]
    },
    {
        "id": "a217737f2509ed6a",
        "type": "mqtt in",
        "z": "4255977345aa65f0",
        "name": "Temperatura Torre 2",
        "topic": "home/temperaturaT2",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "208d45ec3a4d5b74",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 180,
        "wires": [
            [
                "9dffc8ee6790c35e"
            ]
        ]
    },
    {
        "id": "ee231ac7ddb36108",
        "type": "mqtt in",
        "z": "4255977345aa65f0",
        "name": "Topic de vibracion",
        "topic": "home/vibracionT2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dfeaffab6a29527c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 240,
        "wires": [
            [
                "1220d1eed3ab5804"
            ]
        ]
    },
    {
        "id": "72ad18249c23f2ae",
        "type": "mqtt in",
        "z": "4255977345aa65f0",
        "name": "",
        "topic": "home/voltaje_rmsT2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "60a273b51888daa9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 320,
        "wires": [
            [
                "0f226abd290f9aa3"
            ]
        ]
    },
    {
        "id": "e3e35c79f8d62408",
        "type": "ui_gauge",
        "z": "4255977345aa65f0",
        "name": "",
        "group": "fd4283b4c5d122f7",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": "40",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 480,
        "y": 100,
        "wires": []
    },
    {
        "id": "9dffc8ee6790c35e",
        "type": "ui_gauge",
        "z": "4255977345aa65f0",
        "name": "",
        "group": "ae6fcfb5d15b6094",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Temperatura",
        "label": "°c",
        "format": "{{value}}",
        "min": "25",
        "max": "50",
        "colors": [
            "#0954ec",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 180,
        "wires": []
    },
    {
        "id": "1220d1eed3ab5804",
        "type": "ui_chart",
        "z": "4255977345aa65f0",
        "name": "",
        "group": "fea4ac8883015485",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Vibracion ",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "5",
        "ymax": "0",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#1a9e34",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 480,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "0f226abd290f9aa3",
        "type": "ui_chart",
        "z": "4255977345aa65f0",
        "name": "",
        "group": "fe2f0480f280f176",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Voltaje",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 470,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "9cf392beb0ec2668",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "node-red-contrib-mongodb4": "3.1.1",
            "node-red-contrib-mongodb3": "2.0.1"
        }
    }
]